*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* colors */
  --white: rgba(196, 196, 196, 1);
  --red: rgba(150, 3, 26, 1);
  --black: rgba(30, 33, 43, 1);
  /* fonts */
  --important: "Major Mono Display", monospace;
  --main-font: "Manrope", sans-serif;
  --sub-font: "Inter", sans-serif;
  /* font-size */
  --font-xs: clamp(0.5208rem, 0.4735rem + 0.1894vw, 0.625rem);
  --font-s: clamp(0.625rem, 0.5682rem + 0.2273vw, 0.75rem);
  --font-m: clamp(0.8333rem, 0.7576rem + 0.303vw, 1rem);
  --font-l: clamp(1.25rem, 1.25rem + 1.0227vw, 3.375rem);
  --font-xl: clamp(2rem, 2rem + 1.3636vw, 4.5rem);
}

body {
  background: var(--black);
  padding: 2rem 1.375rem;
  font-family: var(--main-font);
  color: var(--black);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-s, 00.75rem);
}

.nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.home {
  font-weight: 600;
  font-family: var(--important);
}

button {
  padding: 0.5rem 1rem;
  background-color: var(--white);
  border: none;
}

button:hover {
  cursor: pointer;
  color: var(--red);
}

.symbol {
  font-family: "Inter", sans-serif;
  color: var(--red);
  font-size: var(--font-xl, 2rem);
  font-weight: 900;
  text-align: center;
}

.card {
  min-height: 100vh;
  background: rgba(196, 196, 196, 1);
  padding: 1.75rem 1.375rem;
}

h1 {
  color: var(--black);

  font-family: "Major Mono Display", monospace;
  font-size: var(--font-xl, 2rem);
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.75rem;
  text-align: center;
}

h2 {
  color: var(--black);

  font-size: var(--font-l, 1.25rem);
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0.375rem;
  text-align: center;
}

footer {
  font-size: var(--font-s);
  color: var(--white);
  text-align: center;
}
